
* {
    box-sizing: border-box;
    position: relative;
}

body {
    padding: 0;
    margin: 0;
}


.support{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}
a{
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 400ms ease;
}

a:hover{
    color: #222;
}

.con-box img{
    width: 150px;
    height: 150px;
}