<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医药销售管理系统</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
  
<canvas></canvas>
<!--背景 -->
<div class="support">
    <a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://codepen.io/dev_loop/" target="_blank"><i class="fab fa-codepen"></i></a>
</div>



<script  src="static/js/index.js"></script>   
 <!--注册登录 -->
    <div class="container">
        <div class="form-box">
              <div class="register-box">
                <input type="text" placeholder="用户名">
                <input type="phone" placeholder="手机号码">
                <input type="password" placeholder="密码">
                <input type="password" placeholder="确认密码">
                <button>注册</button>
              </div>
              <div class="login-box">
                <input type="text" placeholder="用户名">    
                <input type="password" placeholder="密码">
                <button>登录</button>
              </div>
        </div>
        <div class="con-box left">
              <img src="../templates/static/image/me.png" alt="">
              <p>在这里你可以挑选的你所需要的药品</p>
              <button id="login">登录</button>
        </div>
        <div class="con-box right">
              <img src="../templates/static/image/me.png" alt="">
              <p>在这里注册吧</p>
              <button id="register">注册</button>
        </div>
    </div>
</body>
</html>